@{
    ViewBag.Title = "Home Page";
}
<img src="@Url.Content("~/images/hotel.jpg")" class="img-responsive"/>
<div class="jumbotron">
    <h1>HOTEL MANAGEMENT APPLICATION</h1>
    <p class="lead">This is a test application that allows you to manage a Hotel by adding, editing and deleting rooms and bookings.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>
            Try Adding a Booking and then seeing the reservation information you typed in, displayed at the same page.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Adding Rooms</h2>
        <p>
            Try Adding a Room with the ability to upload image and information and then seeing the created rooms and their information you typed in, displayed at the same page.
        </p>
    </div>
</div>